		.titre {
			font: 10px sans-serif;
		}

		.axeVerticalLegende {
			font: 10px sans-serif;
		}

		.axeHorizontalLegende {
			font: 10px sans-serif;
		}

		h1 {
			color: white;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			font-family: sans-serif;
			font-size: 12px;
		}

		body {
			font: 12px sans-serif;
			background-color: #B7F5FF;
		}

		svg {
			border: solid 1px;
			background-color: white;
		}

		path {
			stroke: #4682B4;
			stroke-width: 2;
			fill: none;
		}

		.axis path,
		.axis line {
			fill: none;
			stroke: grey;
			stroke-width: 1;
			shape-rendering: crispEdges;
		}

		div.tooltip {
			position: absolute;
			text-align: center;
			padding: 2px;
			font: 12px sans-serif;
			background: #ffffff;
			border-radius: 4px;
			pointer-events: none;
		}